body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    max-width: 100vw;
    text-align: center;
}

.qr-code {
    display: inline-block;
    max-width: 279px;
    box-shadow: 0px 15px 22px -14px #8C8C8C;
    background-color: hsl(0, 0%, 100%);
    margin: 10px 20px;
    border-radius: 15px;
    padding: 20px;
}

.qr-image {
    max-width: 100%;
    border-radius: 15px;
}

.body-text {
    padding: 0 15px;
}

.quintessential-regular {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}

.white {
    color: hsl(0, 0%, 100%);
}

.slate-300 {
    color: hsl(212, 45%, 89%);
}

.slate-500 {
    color: hsl(216, 15%, 48%);
}

.slate-900 {
    color: hsl(218, 44%, 22%);
}

